<div  class="general d-flex justify-content-center align-items-center">
  <div  class="tamaño d-flex justify-content-center align-items-center">
      <div>
      <div class="d-flex justify-content-center align-items-center mt-2 ">
        <img [routerLink]="['/altas/altaEspecialista']" class="card-img-top rounded-circle e  " src="https://i.pinimg.com/736x/d7/64/18/d76418f406971b8b0c02d158e159d920.jpg" alt="">
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2 ">
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <img [routerLink]="['/altas/altaPaciente']" class="card-img-top rounded-circle e  " src="https://img.freepik.com/vector-gratis/ilustracion-vectorial-pequeno-personaje-dibujos-animados-lindo-paciente-hombre-roto-pierna-derecha-vendaje-yeso-o-pie-enyesado-muleta-axilar_52005-74.jpg?w=2000" alt="">
      </div>
      
  </div>
  </div>

</div>
