<div class="tricito">
    <body>
        <div id="advanced-search-form">
            <div class="divespecial">
                <div class="sinuso">
                    
                </div>
                <h1 appCambiarColor  >Registro Paciente</h1>
                <img (click) = "atras()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXeWHsD5JKxLV3V3Y1tUmGmCBt0Tl_IDersQ&usqp=CAU" alt="">
            </div>
            <form [formGroup] = "formGroup" (ngSubmit) = "aceptar()">
                <div class="row">
                    <div class="col">
                <div class="form-outline fet">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName= "nombre">
                    <small class="invalid" *ngIf = "formGroup.get('nombre')?.hasError('required') && formGroup.get('nombre')?.touched">El nombre es requerido</small>
                </div>
            </div>
            <div class="col">
                <div class="form-outline  fet">
                    <label for="Apellido"  class="form-label">Apellido</label>
                    <input type="text" class="form-control" placeholder="Apellido" id="Apellido" formControlName= "apellido">
                    <small class="invalid" *ngIf = "formGroup.get('apellido')?.hasError('required') && formGroup.get('apellido')?.touched">El apellido es requerido</small>
                </div>
            </div>
            <div class="col">
                <div class="form-outline  fet">
                    <label for="edad"  class="form-label">Edad</label>
                    <input type="number" class="form-control" placeholder="edad" id="edad" formControlName= "edad">
                    <small class="invalid" *ngIf = "formGroup.get('edad')?.hasError('required') && formGroup.get('edad')?.touched">La edad es requerida</small>
                    <small class="invalid" *ngIf = "formGroup.get('edad')?.hasError('min') || formGroup.get('edad')?.hasError('max') && formGroup.get('edad')?.touched">La edad debe  ser entre.. 18 y 90 años</small>
                </div>
            </div>
            </div>
            <div class="row">

                <div class="col">

                <div class="form-outline  fet">
                    <label for="dni">DNI</label>
                    <input type="number" class="form-control" placeholder="dni" id="dni" formControlName= "dni">
                    <small class="invalid" *ngIf = "formGroup.get('dni')?.hasError('required') && formGroup.get('dni')?.touched">El DNI es requerido</small>
                </div> 
            </div>
            <div class="col">
                <div class="form-outline  fet"> 
                    <label for="obraSocial">Obra social</label>
                    <input type="text" class="form-control" placeholder="obraSocial" id="obraSocial" formControlName= "obraSocial">
                    <small class="invalid" *ngIf = "formGroup.get('obraSocial')?.hasError('required') && formGroup.get('obraSocial')?.touched">La obra social es requerida</small>
                </div>
            </div>
            <div class="col">
                <div class="form-outline  fet">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="email" id="email" formControlName= "email">
                    <small class="invalid" *ngIf = "formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">El email es requerido</small>
                    <small class="invalid" *ngIf = "formGroup.get('email')?.hasError('pattern') && formGroup.get('email')?.touched">Formato inválido.</small>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col">
                <div class="form-outline  fet">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="password" id="password" formControlName= "password">
                    <small class="invalid" *ngIf = "formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched">La contraseña es requerido</small>
                </div>
                </div>
                <div class="col"> 
                <div class="form-outline  fet d-flex justify-content-center aligns-items-center">
                    <input  type="file" accept=".png, .jpg, .jpeg" multiple (change) = "cargarImagen($event)" formControlName="inputFile"  id="inputFile">
                    <label class="labelInputFile" for="inputFile">IMAGEN 1 </label>
                    <small class="invalid" *ngIf = "formGroup.get('inputFile')?.hasError('required') && formGroup.get('inputFile')?.touched">El archivo es requerido</small>
                </div>
                     </div>
                     <div class="col">
                <div class="form-outline  fet d-flex justify-content-center aligns-items-center">
                    <input  type="file" accept=".png, .jpg, .jpeg" multiple (change) = "cargarImagen($event)" formControlName="inputFile2"  id="inputFile2">
                    <label class="labelInputFile" for="inputFile2">IMAGEN 2 </label>
                    <small class="invalid" *ngIf = "formGroup.get('inputFile2')?.hasError('required') && formGroup.get('inputFile2')?.touched">El archivo es requerido</small>
                </div>
            </div>
            </div>
            <div class="row" *ngIf="desactivar == false">
                <div class="col-6">
                  <input (appCaptcha) = "accionn($event)" class="form-control mt-3" id="display" value={{capcha}} disabled>
                </div>
          
                <div class="col-6">
                  <input  invalid class="form-control mt-3" id="entrada" autocomplete="doNotAutoComplete"
                    formControlName="capchaInput" [(ngModel)]="cap" placeholder="Escriba el codigo"  >
                    <span class="form-control mt-3" id="mensaje" *ngIf="(!(cap == capcha)) && formGroup.get('capchaInput')?.touched ">  Capcha INCORRECTO ❌</span>
                </div>
       
      
          
                
              </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-info btn-lg btn-responsive botonPrincipal" [disabled] = "formGroup.invalid || (capcha != cap)" id="search">REGISTRAR</button>
                <button type="button" (click) = "deshabilitado()">CANCELAR_CAPTCHA</button>
            </form>
        </div>
    </body>
    </div> 
    
    