<div class="general">
  <div class="particular">
    <form [formGroup]="formGroup" (ngSubmit)="aceptar()">
      <div class="d-flex justify-content-center aligns-items-center">
        <h2></h2>
      </div>
      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="nombre" class="form-label">{{'alta.especialista.Name' | translate}}</label>
            </div>
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Ingrese nombre"
              formControlName="nombre"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('nombre')?.hasError('required') &&
                  formGroup.get('nombre')?.touched
                "
                >{{'alta.especialista.NameRequired' | translate}}</small
              >
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Apellido input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="Apellido" class="form-label">{{'alta.especialista.LastName' | translate}}</label>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Apellido"
              id="Apellido"
              formControlName="apellido"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('apellido')?.hasError('required') &&
                  formGroup.get('apellido')?.touched
                "
                >{{'alta.especialista.LastNameRequired' | translate}}</small
              >
            </div>
          </div>
        </div>

        <div class="col">
          <!-- Apellido input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="email" class="form-label">{{'alta.especialista.Email' | translate}}</label>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              id="email"
              formControlName="email"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('email')?.hasError('required') &&
                  formGroup.get('email')?.touched
                "
                >{{'alta.especialista.TextRequired' | translate}}</small
              >
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('email')?.hasError('pattern') &&
                  formGroup.get('email')?.touched
                "
                >{{'alta.especialista.FormatInvalid' | translate}}</small
              >
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="edad">{{'alta.especialista.Age' | translate}}</label>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="Edad"
              id="edad"
              formControlName="edad"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('edad')?.hasError('required') &&
                  formGroup.get('edad')?.touched
                "
                >{{'alta.especialista.AgeRequired' | translate}}</small
              >
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('edad')?.hasError('min') ||
                  (formGroup.get('edad')?.hasError('max') &&
                    formGroup.get('edad')?.touched)
                "
                >{{'alta.especialista.AgeBetween' | translate}}</small
              >
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Name input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="dni">{{'alta.especialista.Id' | translate}}</label>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="Dni"
              id="dni"
              formControlName="dni"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('dni')?.hasError('required') &&
                  formGroup.get('dni')?.touched
                "
                >{{'alta.especialista.IdRequired' | translate}}</small
              >
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Email input -->
          <div class="form-outline fet">
            <label for="password">{{'alta.especialista.Password' | translate}}</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              id="password"
              formControlName="password"
            />
            <div class="tete">
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('password')?.hasError('required') &&
                  formGroup.get('password')?.touched
                "
                >{{'alta.especialista.PasswordRequired' | translate}}</small
              >
              <small
                class="invalid"
                *ngIf="
                  formGroup.get('password')?.hasError('caracter') &&
                  formGroup.get('password')?.touched
                "
                >{{'alta.especialista.PasswordBetween' | translate}}</small
              >
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline fet">
            <div class="centro">
              <label class="labelcito espacioespecial" for="agregar"
                >{{'alta.especialista.Add' | translate}}</label
              >
            </div>
            <div class="juntar">
              <input
                class="form-control"
                type="text"
                placeholder="Especalidad"
                id="agregar"
              />                          
                <span class="button-clickable" (click)="agregar()">
                  <mat-icon>add</mat-icon>
                </span>
              
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Apellido input -->
          <div class="form-outline fet">
            <div class="centro">
              <label for="select" class="form-label">{{'alta.especialista.Specialist' | translate}}</label>
            </div>
            <div class="juntar">
              <select
                class="form-select"
                id="select"
                formControlName="especialidad"
                (change)="cambiar()"
              >
                <option *ngFor="let item of list" [value]="item">
                  {{ item }}
                </option>
              </select>             
              <span class="button-clickable" (click)="borrar()">
                <mat-icon>remove</mat-icon>
              </span>
            </div>
            <div class="tete">
              <small
                class="invalid concreto"
                *ngIf="
                  formGroup.get('especialidad')?.hasError('required') &&
                  formGroup.get('especialidad')?.touched
                "
                >{{'alta.especialista.SpecialistRequired' | translate}}</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-6 fet divtama">
          <input
            type="file"
            accept=".png, .jpg, .jpeg"
            multiple
            (change)="cargarImagen($event)"
            formControlName="inputFile"
            id="inputFile"
          />
          <label class="labelInputFile" for="inputFile">{{'alta.especialista.Image' | translate}}</label>
          <div class="tete">
            <small
              class="invalid"
              *ngIf="
                formGroup.get('inputFile')?.hasError('required') &&
                formGroup.get('inputFile')?.touched
              "
              >{{'alta.especialista.ImageRequired' | translate}}</small
            >
          </div>
        </div>
        <div class="col-6 fet listadoEsp">
          <p class="titEsp">{{'alta.especialista.List' | translate}}</p>
          <div class="mm" #scrollMe>
            <div class="espItem" *ngFor="let item of listoriginal">
              <div class="ddd">
                <span class="nombreEsp">{{ item }}</span>
                <i class="fa-solid fa-ban" (click)="borrar2(item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="desactivar == false">
        <div class="col-6">
          <input
            (appCaptcha)="accion($event)"
            class="form-control mt-3"
            id="display"
            value="{{ capcha }}"
            disabled
          />
        </div>

        <div class="col-6">
          <input
            invalid
            class="form-control mt-3"
            id="entrada"
            autocomplete="doNotAutoComplete"
            formControlName="capchaInput"
            [(ngModel)]="cap"
            placeholder="Escriba el codigo"
          />
          <span
            class="form-control mt-3"
            id="mensaje"
            *ngIf="!(cap == capcha) && formGroup.get('capchaInput')?.touched"
          >
            Capcha {{'alta.especialista.Error'}} ❌</span
          >
        </div>
      </div>
      <div class="row margintop">
        <button
          type="submit"
          class="btn btn-info btn-lg btn-responsive botonPrincipal"
          [disabled]="formGroup.invalid || capcha != cap"
          id="search"
        >
          {{'alta.especialista.Register' | translate}}
        </button>
        <button type="button" (click)="deshabilitado()">
          CANCELAR_CAPTCHA
        </button>
      </div>
    </form>
  </div>
</div>
