
table {
  width: 100%;
}
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
    
  .centered-input {
    margin-bottom: 16px;
    width: 300px; 
  }
  
  .centered-paginator {
    margin-top: 16px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
  
  .table-container {
    width: 100%;
    margin-top: 20px;
  }
  button{
    min-width: 158px;
  }

  .stepper-container{
    width: 100%;
  }
/* Estilos para el contenedor del mat-step */
.mat-step-content {
  display: flex;
  flex-direction: column;
}

/* Estilos para los radio buttons */
.mat-radio-group {
  display: flex;
  flex-direction: column;  
}

/* Estilos para el botón */
.mat-step-actions {
  display: flex;
  justify-content: flex-start;
}

.mat-radio-button + .mat-radio-button {
  margin-top: 10px; /* Ajusta el espacio entre los radio buttons */
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.mat-mdc-slider {  
  width: 100%;
}
.mat-mdc-card + .mat-mdc-card {
  margin-top: 8px;
}
.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}
.mat-slider-horizontal {
  height: 48px;
  min-width: 300px;
}
.example-label-container-2 {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0;
  max-width: 284px;
}
.star-rating {
  font-size: 24px;
  color: #ccc;
  display: inline-block;
  cursor: pointer;
}

.star-filled {
  color: gold;
}

.star-empty {
  color: #ccc;
}
