
  <div #pdfContent class="chart-container">
    
    <canvas style="width: 300px; max-width: 500px; height: 400px; max-height: 400px; display: inline;  box-sizing: border-box;" #pieChart1></canvas>
    
    <canvas style="width: 300px; max-width: 500px; height: 400px; max-height: 400px; display: inline;  box-sizing: border-box;" #pieChart2></canvas>
    
    <canvas style="width: 400px; max-width: 500px; height: 400px; max-height: 400px; display: inline;  box-sizing: border-box;" #pieChart3></canvas>
    
    <canvas style="width: 400px; max-width: 500px; height: 400px; max-height: 400px; display: inline; box-sizing: border-box;" #pieChart4></canvas>
  </div>
  
  <button (click)="generatePDF()">Generar PDF</button>
