.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart-container canvas {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
  }
  