.d
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content
{
    background-color: white;
}
.tt
{
    color: aqua;
}
.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow:none;
    margin-bottom: -56px;
}