.d
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content
{
    background-color: white;
}
.tt
{
    color: aqua;
}
.centered-table {
  margin: 0 auto;
  width: 80%; /* ajusta el ancho según tus necesidades */
}

.centered-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* ajusta el margen según tus necesidades */
}