<!-- <div class="d-flex justify-content-center align-items-center">
  <div class="general d-flex justify-content-center align-items-center">
    <div class="table-responsive">
      <div class="d-flex justify-content-center align-items-center">
        <h2>MIS TURNOS</h2>
      </div>
      <div class="table-responsive segundogeneral">               
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex tt">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [(ngModel)]="b"
            />
            <button
              class="btn btn-outline-success"
              (click)="hacerBusqueda()"
              type="button"
            >
              <i class="fa fa-search"></i> Search
            </button>
            <button
              class="btn btn-outline-warning"
              type="button"
              (click)="limpiar()"
            >
              <i class="fa fa-times"></i> Limpiar
            </button>
          </div>
        </div>
        
         <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Dia</th>
                  <th scope="col">Horario</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Especialista</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of list" >
                    <td *ngIf="item.correoEspecialista == auth.correologeado">{{item.dia}} </td>
                    <td *ngIf="item.correoEspecialista == auth.correologeado">{{item.hora}}:{{item.minutos}} </td>    
                    <td *ngIf="item.correoEspecialista == auth.correologeado">{{item.especialidad}} </td>
                    <td *ngIf="item.correoEspecialista == auth.correologeado">{{item.correoEspecialista}} </td>
                    <td *ngIf="item.correoEspecialista == auth.correologeado">{{item.correoPaciente}} </td>
                    <div *ngIf="item.correoEspecialista == auth.correologeado">
                      <button (click) = "ejecutarAccion('aceptar',item)" class="btn btn-primary" *ngIf="item.estado == 'pendiente'">ACEPTAR</button>
                      <button class="btn btn-primary" *ngIf="item.estado == 'pendiente'" (click) = "cancelarTurno('especialista',item)">CANCELAR</button>
                      <button class="btn btn-primary" *ngIf="item.estado == 'pendiente'">RECHAZAR</button>
                      <button class="btn btn-primary" *ngIf="item.estado == 'aceptado'" (click) = "finalizado(item)">FINALIZAR</button>
                      <button class="btn btn-primary" *ngIf="item.estado == 'realizado'">COMPLETAR ENCUESTA</button>
                      <button class="btn btn-primary" *ngIf="item.estado == 'realizado'">CALIFICAR TURNO</button>
                      <button (click) = "verresenia(item)" class="btn btn-primary" *ngIf="item.comentariopaciente != 'No hay comentario' || item.comentarioespecialista != 'No hay comentario' || item.comentarioadmin != 'No hay comentario' || item.diagnostico != 'No hay comentario' ">Ver Reseña</button>          
                    </div>
                </tr>
              </tbody>
            </table> 
        <table class="table text-center table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Horario</th>
              <th scope="col">Especialidad</th>
              <th scope="col">Especialista</th>
              <th scope="col">Paciente</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                {{ item.dia }}
              </td>
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                {{ item.hora }}:{{ item.minutos }}
              </td>
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                {{ item.especialidad }}
              </td>
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                {{ item.correoEspecialista }}
              </td>
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                {{ item.correoPaciente }}
              </td>
              <td *ngIf="item.correoEspecialista == auth.correologeado">
                <div class="btn-group" role="group">                                    
                  <button
                    class="btn btn-primary"
                    *ngIf="item.estado == 'realizado'"
                  >
                    COMPLETAR ENCUESTA
                  </button>
                  <button
                    class="btn btn-primary"
                    *ngIf="item.estado == 'realizado'"
                  >
                    CALIFICAR TURNO
                  </button>                 
                  <button
                    type="button"
                    class="btn btn-success"
                    *ngIf="item.estado == 'pendiente'"
                    (click)="ejecutarAccion('aceptar', item)"
                  >
                    <i class="fas fa-check"></i>Aceptar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    *ngIf="item.estado == 'pendiente'"
                    (click)="cancelarTurno('especialista', item)"
                  >
                    <i class="fa fa-trash"></i>Cancelar
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    *ngIf="item.estado == 'pendiente'"
                    (click)="RechazarTurno('especialista', item)"
                  >
                    <i class="fa fa-times"></i>Rechazar
                  </button>
                  <button class="btn btn-primary" 
                  *ngIf="item.estado == 'aceptado'"
                  (click)="finalizado(item)"
                  >
                    <i class="fa fa-check"></i> Finalizar
                  </button>
                  <button class="btn btn-primary" 
                  *ngIf="item.estado == 'realizado'"
                  >
                    <i class="fa fa-clipboard-list"></i> Encuesta
                  </button>
                  <button class="btn btn-primary"
                  *ngIf="item.estado == 'realizado'"
                  >
                    <i class="fa fa-star"></i> Calificar
                  </button>
                  <button  (click)="verresenia(item)"
                  class="btn btn-primary"
                  *ngIf="
                    item.comentariopaciente != 'No hay comentario' ||
                    item.comentarioespecialista != 'No hay comentario' ||
                    item.comentarioadmin != 'No hay comentario' ||
                    item.diagnostico != 'No hay comentario'
                  ">
                    <i class="fa fa-eye"></i> Reseña</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <h2>MIS TURNOS</h2>
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

  <!-- Position Column -->
  <ng-container matColumnDef="dia">
    <th mat-header-cell *matHeaderCellDef> Día</th>
    <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="horario">
    <th mat-header-cell *matHeaderCellDef> Horario </th>
    <td mat-cell *matCellDef="let element"> {{element.hora}}:{{element.minutos}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="especialidad">
    <th mat-header-cell *matHeaderCellDef> Especialidad </th>
    <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="especialista">
    <th mat-header-cell *matHeaderCellDef> Especilista </th>
    <td mat-cell *matCellDef="let element"> {{element.correoEspecialista}}  </td>
  </ng-container>  

  <!-- Symbol Column -->
  <ng-container matColumnDef="paciente">
    <th mat-header-cell *matHeaderCellDef> Paciente </th>
    <td mat-cell *matCellDef="let element"> {{element.correoPaciente}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Acción </th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-group" role="group">                                    
        <button
          class="btn btn-primary"
          *ngIf="element.estado == 'realizado'"
        >
          COMPLETAR ENCUESTA
        </button>
        <button
          class="btn btn-primary"
          *ngIf="element.estado == 'realizado'"
        >
          CALIFICAR TURNO
        </button>                 
        <button
          type="button"
          class="btn btn-success"
          *ngIf="element.estado == 'pendiente'"
          (click)="ejecutarAccion('aceptar', element)"
        >
          <i class="fas fa-check"></i> Aceptar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="element.estado == 'pendiente'"
          (click)="cancelarTurno('especialista', element)"
        >
          <i class="fa fa-trash"></i> Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="element.estado == 'pendiente'"
          (click)="RechazarTurno('especialista', element)"
        >
          <i class="fa fa-times"></i> Rechazar
        </button>
        <button class="btn btn-primary" 
        *ngIf="element.estado == 'aceptado'"
        (click)="finalizado(element)"
        >
          <i class="fa fa-check"></i> Finalizar
        </button>
        <button class="btn btn-primary" 
        *ngIf="element.estado == 'realizado'"
        >
          <i class="fa fa-clipboard-list"></i> Encuesta
        </button>
        <button class="btn btn-primary"
        *ngIf="element.estado == 'realizado'"
        >
          <i class="fa fa-star"></i> Calificar
        </button>
        <button  (click)="verresenia(element)"
        class="btn btn-primary"
        *ngIf="
          element.comentariopaciente != 'No hay comentario' ||
          element.comentarioespecialista != 'No hay comentario' ||
          element.comentarioadmin != 'No hay comentario' ||
          element.diagnostico != 'No hay comentario'
        ">
          <i class="fa fa-eye"></i> Reseña</button>
      </div>
    </td>
    
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>