<div class="d-flex justify-content-center align-items-center">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [(ngModel)]="startDate" />
      <input matEndDate placeholder="End date" [(ngModel)]="endDate" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>  
  <button
    mat-mini-fab    
    color="black"
    class="no-hover-effect"
    aria-label="Example icon button with a filter list icon"
    (click)="filtrar()"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
  <button
    mat-mini-fab    
    color="black"
    class="no-hover-effect"
    aria-label="Example icon button with a filter list icon"
    (click)="makePDF()"
  >
  <mat-icon>cloud_download</mat-icon>
  </button>
</div>

<div class="d-flex justify-content-center align-items-center">
  <h2>{{"log.menu.ShiftsCompletedByDoctor" | translate}}</h2>
</div>
<div class="d">
  <div id="content" #content>
    <div class="d-flex justify-content-center align-items-center">
      <table class="table m">
        <thead>
          <tr>
            <th>{{"log.ingresos.Specialty" | translate}}</th>
            <th>{{"log.ingresos.Quantity" | translate}}</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listafinal">
          <tr>
            <td>{{ item.correo }}</td>
            <td>{{ item.cantidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d">
      <div id="content" #content>
        <canvas
          id="myChart"
          class="tt"
          style="width: 100%; max-width: 700px; height: 100%; max-height: 400px"
        ></canvas>
      </div>
    </div>
  </div>
</div>
