<div id="cua" class="fle">
<div class="d-flex justify-content-center align-items-center">
  <h2>LOGS INGRESOS</h2>
</div>
<div class="d-flex justify-content-center align-items-center">
<table class="table m">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Dia</th>
        <th scope="col">Hora</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of list | ordenarlogs">
      <tr>
        <td> {{item.usuario}} </td>
        <td> {{item.dia}} </td>
        <td> {{item.hora}} </td>
      </tr>
    </tbody>
  </table>
</div>
</div>