<table class="table table-striped centered-table">
  <thead>
    <tr>
      <th>{{ "log.ingresos.User" | translate }}</th>
      <th>{{ "log.ingresos.Day" | translate }}</th>
      <th>{{ "log.ingresos.Hour" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let registro of registrosOrdenados          
          | paginate : { itemsPerPage: 10, currentPage: paginaActual }          
      "
    >
      <td>{{ registro.usuario }}</td>
      <td>{{ registro.dia }}</td>
      <td>{{ registro.hora }}</td>
    </tr>
  </tbody>
</table>
<pagination-controls class="centered-pagination" (pageChange)="paginaActual = $event"></pagination-controls>
