<div class="principal">
    <div>
   
<div class="principall">
    <div>
        <button class="btn btn-primary" (click) = "clickeado('ingresos')">{{"log.menu.Incomes" | translate}}</button>
        <button class="btn btn-primary" (click) = "clickeado('turnosespecialidad')">{{"log.menu.QuantityPerSpecialty"| translate}}</button>
    </div>
    
</div>
<div class="principall">

    <div>
        <button class="btn btn-primary" (click) = "clickeado('turnosdia')">{{"log.menu.QuantityPerDay" | translate}}</button>
        <button class="btn btn-primary" (click) = "clickeado('turnossolicitadolapso')">{{"log.menu.ShiftsRequestedByDoctor" | translate}}</button>
        <button class="btn btn-primary" (click) = "clickeado('turnosfiinalizadolapso')">{{"log.menu.ShiftsCompletedByDoctor" | translate}}</button>
    </div>
</div>
</div>
</div>

<div *ngIf="ingresos">
    <app-ingresos></app-ingresos>
</div>
<div *ngIf="cantturnos">
    <app-cantturnosespecialidad></app-cantturnosespecialidad>
</div>
<div *ngIf="cantturnosdia">
    <app-cantturnosdia></app-cantturnosdia>
</div>
<div *ngIf="turnostiempo">
<app-turnosolicitadolapso></app-turnosolicitadolapso>
</div>
<div *ngIf="turnostiempofinalizados">
<app-turnofinalizadolapso></app-turnofinalizadolapso>
</div>