.principal
{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principall
{
  
    display: flex;
    justify-content: center;
    align-items: center;
}