.tamaño
{
    min-height: 300px;
    min-width: 400px;
    background-color:antiquewhite;
    border-radius: 20px;
}
.general
{
    min-height: 100vh;
    background-image: url("../../assets/clinica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
button
{
    min-width: 320px;
    border-radius: 10px;
    font-size: 20px;
}
#cuadrado
{
    display: inline-block;
    min-width: 100%;
    min-height: 200px;
    background: #aaa;
    animation-name: mianimacion;
    animation-duration: 3s;
    position:relative;
    animation-direction: reverse;
    animation-timing-function: linear;
}
