
table {
    width: 100%;
  }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
      
    .centered-input {
      margin-bottom: 16px;
      width: 300px; 
    }
    
    .centered-paginator {
      margin-top: 16px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* height: 100vh; */
    }
    
    .table-container {
      width: 100%;
      margin-top: 20px;
    }
    button{
      min-width: 158px;
    }
    th {
      background-color: #f0f0f0;
      font-weight: bold;
      color: black;
      /* Agrega cualquier otro estilo personalizado que desees */
    }