<!-- 
<div class="d-flex justify-content-center align-items-center">
<div class="general d-flex justify-content-center align-items-center">
    <div class="table-responsive">
        <div class="d-flex justify-content-center align-items-center">
            <h2>MIS TURNOS</h2>
        </div>
      <div class="table-responsive segundogeneral">
        <div class="d-flex justify-content-center align-items-center">

          <div class="d-flex tt">
            <input class="form-control me-2" type="search" placeholder="Search" value="dasd"  aria-label="Search" [(ngModel)]="b">
            <button class="btn btn-outline-success" (click) = "hacerBusqueda()" type="button">Search</button>
            <button class="btn btn-outline-warning" type="button" (click) = "limpiar()">Limpiar</button>
          </div>
          
          
          </div>
        <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Dia</th>
                  <th scope="col">Horario</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Especialista</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of list" >
                    <td >{{item.dia}} </td>
                    <td >{{item.hora}}:{{item.minutos}} </td>    
                    <td >{{item.especialidad}} </td>
                    <td >{{item.correoEspecialista}} </td>
                    <td >{{item.correoPaciente}} </td>
                    <div>
                      <button class="btn btn-primary" *ngIf="item.estado == 'pendiente'" (click) = "cancelarTurno('especialista',item)">CANCELAR</button>
                      <button (click) = "verresenia(item)" class="btn btn-primary" *ngIf="item.comentariopaciente != 'No hay comentario' || item.comentarioespecialista != 'No hay comentario' || item.comentarioadmin != 'No hay comentario' ">Ver Reseña</button>          
                    </div>
                </tr>
              </tbody>
            </table>
      </div>
    
</div>
</div>
<div class="d-flex justify-content-center align-items-center" *ngIf="resenia">
<table class="tam" >
<thead>
  <th scope="col">Comentario Paciente</th>
  <th scope="col">Comentario Especialista</th>
  <th scope="col">Comentario Administrador</th>
  <th scope="col">Historia Clínica</th>

</thead>
<tbody>
  <tr>
    <td>{{reseniaActual.comentariopaciente}} </td>
    <td>{{reseniaActual.comentarioespecialista}}</td>
    <td>{{reseniaActual.comentarioadmin}}</td>
  
  </tr>
</tbody>
</table>
</div>
</div> -->
<!-- TABLA NUEVA -->
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <h2>MIS TURNOS</h2>
</div>
<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

  <!-- Position Column -->
  <ng-container matColumnDef="dia">
    <th mat-header-cell *matHeaderCellDef> Día</th>
    <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="horario">
    <th mat-header-cell *matHeaderCellDef> Horario </th>
    <td mat-cell *matCellDef="let element"> {{element.hora}}:{{element.minutos}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="especialidad">
    <th mat-header-cell *matHeaderCellDef> Especialidad </th>
    <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="especialista">
    <th mat-header-cell *matHeaderCellDef> Especilista </th>
    <td mat-cell *matCellDef="let element"> {{element.correoEspecialista}}  </td>
  </ng-container>  

  <!-- Symbol Column -->
  <ng-container matColumnDef="paciente">
    <th mat-header-cell *matHeaderCellDef> Paciente </th>
    <td mat-cell *matCellDef="let element"> {{element.correoPaciente}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Acción </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-danger" *ngIf="element.estado == 'pendiente' || element.estado == 'aceptado'" (click)="cancelarTurno('paciente', element)">
        <mat-icon class="mr-2">cancel</mat-icon>
        Cancelar
      </button>
      <button class="btn btn-primary" *ngIf="element.estado == 'realizado'">
        <mat-icon class="mr-2">assignment_turned_in</mat-icon>
        Encuesta
      </button>
      <button class="btn btn-primary" *ngIf="element.estado == 'realizado'">
        <mat-icon class="mr-2">star</mat-icon>
        Calificar Turno
      </button>
      <button class="btn btn-primary" (click)="verresenia(element)" *ngIf="element.comentariopaciente != 'No hay comentario' || element.comentarioespecialista != 'No hay comentario' || element.comentarioadmin != 'No hay comentario' || element.diagnostico != 'No hay comentario'">
        <mat-icon class="mr-2">comment</mat-icon>
        Ver Reseña
      </button>
    </td>
    
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>